<%- include("partials/header") -%>

<div class="box" id="heading">
  <h1> <%= title %> List</h1>
</div>

<div class="box">
  <% newListItems.forEach(function(arr){ %>
    <form action="/delete" method="post">
      <div class="item">
        <input class ="no-display" name="list" value=<%= listTitle %>>
        <input type="checkbox" onChange="this.form.submit()" name="checkedItem" value=<%= arr.id %>>
        <p> <%=   arr.name  %></p>
      </div>
      <input type="hidden" name="listName" value=<%= listTitle %>></input>
    </form>

  <% }) %>

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value=<%= listTitle %>>+</button>
  </form>
</div>

<%- include("partials/footer") -%>
